<div
  class="spelare-wrapper nes-container is-rounded"
  [ngClass]="{ 'is-dark': aktiv }"
>
  <div class="spelare-namn">

    <ng-container *ngIf="edit; else visa">
      <input type="text" class="nes-input " [(ngModel)]="spelare.namn" (keyup.enter)="edit = false" />
    </ng-container>
    <ng-template #visa
      ><div>
        <span>{{ spelare.namn }}</span><span class="nes-text is-disabled"> ({{spelare.klunkar}})</span>
      </div></ng-template
    >
  </div>
  <div class="spelare-btn-wrapper">
    <a
      class="nes-icon"
      [ngClass]="{ cog: !edit, check: edit }"
      (click)="edit = !edit"
    ></a>
    <a class="nes-icon bomb" *ngIf="edit" (click)="tabortSpelare()"></a>
  </div>
  <div class="nes-text is-warning treman" *ngIf="treman">3M</div>
</div>
