<div class="container">
  <div class="sidebar">
    <h2 class="nes-text">Spelare</h2>
    <treman-spelare
      *ngFor="let s of spelare; let i = index"
      [spelare]="s" [treman]="s==treman"
    ></treman-spelare>
    <button type="button" class="nes-btn" (click)="laggTillSpelare()">
      Lägg till +
    </button>
  </div>
  <div class="spelyta nes-container is-rounded" *ngIf="spelare && spelare.length>1">
    <div class="tarningswrapper">
      <button type="button" class="nes-btn tarning" (click)="rulla()">
        {{ tarning1 }}
      </button>
      <button type="button" class="nes-btn tarning" (click)="rulla()">
        {{ tarning2 }}
      </button>
    </div>
    <div *ngIf="bytTreman && !valtTreman">
      <h2 *ngIf="bytTreman">Byte av treman vid nästa spelarebyte</h2>
      <h3>Välj nästa treman</h3>
      <ng-container *ngFor="let s of spelare">
        <button class="nes-btn"style="margin-right: 10px;" *ngIf="s!==treman" (click)="bytTremanTill(s)">{{s.namn}}</button>
      </ng-container>
    </div>
    <h2>
      <span class="nes-text primary">{{ tremanmeddelanderubrik }}</span>
    </h2>
    <span class="nes-text primary">{{ tremanmeddelande }}</span>
    <h2>
      <span class="nes-text primary">{{ meddelanderubrik }}</span>
    </h2>
    <span class="nes-text primary">{{ meddelande }}</span
    ><br />

  </div>
</div>
