.container {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
}

.tarning {
  margin-right: 15px;
  font-size: 100px;
  width: 169px;
}

.tarningswrapper{
  padding-bottom: 30px;
}

.spelyta{
  margin-top: 48px;
  margin-left: 20px;
  margin-right: 100px;
  height: 80vh;
  flex: 1;
  background-color: #e7dbb0;
}
