/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Press Start 2P", cursived;

  -webkit-font-smoothing: none;
  background-image: url("/assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media screen and (max-width: 1000px) {
    font-size: 10px;
  }
}
.nes-container {
  background: white;
}

@media (orientation: landscape) {
  .orientation-meddelande {
    display: none;
  }
}

@media (orientation: portrait) {
  .orientation-meddelande {
    display: block;
    height: 100vh;
    font-size: 32px;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    width: 90vw;
  }
}
$sidebar-width: 400px;
.sidebar {
  @media screen and (max-width: 1000px) {
    width: 90vw;
  }
  @media screen and (min-width: 1001px) {
    width: $sidebar-width;
  }
}
.spelare-wrapper {
  margin-bottom: 10px !important;
  display: flex;
}
.spelare-namn {
  @media screen and (max-width: 1000px) {
    width: 90vw -200px;
  }
  @media screen and (min-width: 1001px) {
    width: $sidebar-width - 200px;
  }
  display: inline-block;
  margin-right: 5px;
}
.spelare-btn-wrapper {
  display: inline-block;
  padding-top: 5px;
  .nes-icon {
    margin-top: 5px;
    margin-right: 15px;
  }
}
.spelyta {
  padding: 50px;
}
