/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Press Start 2P', cursived;
  -webkit-font-smoothing: none;
}

$sidebar-width: 400px;
.sidebar{
  width: $sidebar-width;
}
.spelare-wrapper{
  margin-bottom: 10px!important;
  display: flex
}
.spelare-namn{
  width:$sidebar-width - 200px;
  display: inline-block;
  margin-right: 5px;
}
.spelare-btn-wrapper{
  display: inline-block;
  padding-top: 5px;
  .nes-icon{
    margin-top: 5px;
    margin-right: 15px;
  }
}
.spelyta{
  padding: 50px;
}
